@import "./theme.scss";
@import "./mixins/background.scss";

body {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
  @include background();
=======
  background-color: theme-color(secondary);
>>>>>>> 3233376 (feature/clients-details)
=======
  @include background();
>>>>>>> a73c268 (fix/clients-details)
  color: theme-color(support);
  font-size: 14px;
}

.ui.list,
ol.ui.list,
ul.ui.list {
  margin: 0;
<<<<<<< HEAD
<<<<<<< HEAD
  padding-left: 0.7em;
=======
>>>>>>> 3233376 (feature/clients-details)
=======
  padding-left: 0.7em;
>>>>>>> 8700e74 (fix/clients-details)
}

*,
a {
  color: theme-color(support);
<<<<<<< HEAD
}

#root {
  display: grid;
  grid-template-columns: 30% 70%;
=======
>>>>>>> 3233376 (feature/clients-details)
}

#root {
  display: grid;
  grid-template-columns: 30% 70%;
}
