@import "../../styles/theme";
<<<<<<< HEAD
@import "../../styles/mixins/header.scss";
=======
@import "../../styles/mixins/background.scss";
>>>>>>> 3233376 (feature/clients-details)

@mixin column {
  display: flex;
  flex-direction: column;
}

.WrapperClientDetails {
  height: 100%;
<<<<<<< HEAD
  background-image: linear-gradient(theme-color(dark), theme-color(dark));
  box-sizing: border-box;
  padding: 1em;
  backdrop-filter: blur(10px);
}
.Container {
  @include column;
  gap: 0.5em;
=======
  @include background($gradient: true);
  box-sizing: border-box;
  padding: 1em;
>>>>>>> 3233376 (feature/clients-details)
}

.Name {
  font-size: 1.5em;
<<<<<<< HEAD
=======
  font-weight: 600;
>>>>>>> 3233376 (feature/clients-details)
}

.Image {
  width: 150px;
  height: 150px;
  margin: 1em 1em 1em 0;
  flex-shrink: 0;
}

.InfoClient {
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
}

.Job {
  color: theme-color(secondary);
  padding: 1em 1em 1em 0;
  text-transform: uppercase;
}

.Info {
  display: flex;
  align-items: center;
=======
  align-items: center;
}

.Job {
  padding: 1em;
  background-color: theme-color(secondary);
  margin: 1em;
  border-radius: 0.5em;
}

.Info {
  @include column;
  gap: 0.5em;
>>>>>>> 3233376 (feature/clients-details)
}

.Icon {
  color: theme-color(secondary);
}

.Address {
  @include column;
}
<<<<<<< HEAD
=======

.BtnReturn {
  border: 1px solid theme-color(secondary);
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: theme-color(secondary);
  margin: 1em 1em 1em 0;
}

.BtnReturn:hover {
  background-color: theme-color(primary);
}
>>>>>>> 3233376 (feature/clients-details)
