@import "../../styles/theme";
@import "../../styles/mixins/header.scss";

@mixin column {
  display: flex;
  flex-direction: column;
}

.WrapperClientDetails {
  height: 100%;
  background-image: linear-gradient(theme-color(dark), theme-color(dark));
  box-sizing: border-box;
  padding: 1em;
  backdrop-filter: blur(10px);
}

.Container {
  @include column;
  gap: 0.5em;
  
}

.Name {
  font-size: 1.5em;
}

.InfoClient {
  display: flex;
  flex-direction: column;
}

.Job {
  color: theme-color(secondary);
  padding: 1em 1em 1em 0;
  text-transform: uppercase;
}

.Info {
  display: flex;
  align-items: center;
}

.Icon {
  color: theme-color(secondary);
}

.Address {
  @include column;
}
