@import "../../styles/theme";
@import "../../styles/mixins/scroll.scss";

.Сontainer {
  background-color: theme-color(primary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  @include scroll;
  box-sizing: border-box;
}
