@import "../../styles/theme";

@mixin stringHidden() {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Job {
  @include stringHidden;
  font-size: 12px;
}

.Container {
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  padding: 0.5em;
  white-space: nowrap;
  background: #212020c0;
  border-radius: 0.5em;
  &:hover {
    border-right: none;
    background-color: theme-color(secondary);
    color: theme-color(support);
  }
}

.Content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  @include stringHidden;
}

.Avatar {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}
