@import "../../styles/theme";
@import "../../styles/mixins/scroll.scss";

.Container {
  background-color: theme-color(primary);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 5px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  @include scroll;
  box-sizing: border-box;
}

.Container::content {
  background-color: theme-color(secondary);
  color: theme-color(gray);
}

@media screen and (max-width:500px){
  .Container {
    position: absolute;
    top: 50px;
    z-index: 10;
    width: 100%;
  }
}
